{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Imgeer{% endblock title %}

{% block body %}

<div class="row">
{% for post in posts %}
<br>
    <div class="col-sm-6 col-md-3">
        <div class="card mb-4">
            {% thumbnail post.image "300x300" crop="center" as im %}
            <img src="{{ im.url }}" class="card-img-top" alt="...">
            {% endthumbnail %}
            <div class="card-body">
                <h5 class="card-title">{{ post.text }}</h5>
                <a href="{% url 'feed:detail' post.id %}" class="btn btn-primary">See details</a>
            </div>
        </div>
    </div>
{% empty %}
    <div class="col-sm-6 offset-3 text-center py-5 my-5">
        <h3>
            Welcome! Oh wait, there were images just a second ago.
        </h3>
        <p>Oh well! Want to be the first and add an image?</p>
        <a href="{% url 'feed:post' %}" class="btn btn-dark">Upload image</a>
    </div>

{% endfor %}
</div>
{% endblock body %}